body
{
    background-color: #fff;
    margin:0 auto;
    display: block;
    position: relative;
    width:100%;
    color:#000;
    font-family:arial, sans-serif;
    font-size: 12pt;

}

#logo {
    background-color: #f8f8f8;
    width:1020px;
    height:135px;
    margin:0 auto;
    padding:10px 0 0 0;
    background-image: url('../images/Desktop/logo.png');
    background-repeat: no-repeat;
    background-position: center right;
}

#header {
    width:100%;
    background-color: #456c9a;
}

#header #headerCopy {
    width:542px;
    height:88px;
    position:absolute;
    top:260px;
    margin-left: 360px;
    background-image: url('../images/Desktop/signature.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}

#photo {
    width:302px;
    height:458px;
    position:absolute;
    top:58px;
    background-image: url('../images/Desktop/photo.png');
    background-repeat: no-repeat;
    background-position: top right;
}

#phoneNumber { width:350px; height:50px; color:#fff; position:absolute;  margin-left:700px; margin-top:250px; font-size: 16pt; }

#header #top{
    background-color: #aac0da;
    height:20px;
    width:100%;
}

#header #mid{

    height:350px;
    width:1020px;
    margin:0 auto;
}

#header #low{
    background-color: #aac0da;
    height:50px;
    width:100%;
}

#content {
    width:1020px;
    height:700px;
    background-color: #f8f8f8;
    margin:0 auto;
    position:relative;
}

#content #leftContent{
    position:relative;
    width:250px;
    height:10px;
    float:left;
    display:block;
	background-color::#000;
	margin:0 auto;
}

#content #leftContent img { margin:45px 15px; border:10px solid #fff; }
#content #leftContent #photo01 { margin:25px 15px 15px; }
#content #leftContent #photo02 { margin:20px 15px; }
#content #leftContent #photo03 { margin:20px 15px; }
#content #leftContent #photo04 { margin:20px 15px; }

#content #rightContent {
    position:relative;
    width:730px;
    float:left;
    display:block;
    padding:20px;
    text-align: left;
}

#siteFooter {
    width:1020px;
    height:50px;
    margin:0 auto;
    background-color: #456c9a;
}

#siteFooter p {
    width:1000px;
    font-size: 8pt;
    text-align: right;
    color:#fff;
}

h2 { color:#999; font-size: 14pt; line-height: 8pt; }
p { color:#999; }
li { color:#999; }



