body {
    width:100%;
    min-width:320px;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
/*HEADER CONTENT*/
header {
    padding:1rem;
}

#logo {
    display:block;
    margin:0 auto;
}

/*MAIN CONTENT*/
main {
    background-color:#456c9a;
}

.box-blue {
    background-color: #aac0da;
    height:2rem;
    display:flex;
    align-items:center;

}

.box-main {
    padding-top:1rem;
    display:grid;
    grid-template-columns: 5fr 6fr 1fr;
    max-width:1200px;
    margin:0 auto;
}

.item {
    margin:0 auto;
    padding:0;
}

.item-1 {
    position:relative;
    width:100%;
}

.item-2 {
    color:#fff;
    text-align: left;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content:center;
    padding:4rem 2rem;
}

#photo {
    display: block;
    width:100%;
    position:absolute;
    right:2rem;
    bottom:0;
    width:16rem;
    height:auto;
}

/*SECTION CONTENT*/
.box {
    margin: 0 auto;
    padding:4rem;
    text-align:center;
    color:#999;
    line-height: 1.5rem;
}

.box-1 h2 {
    padding-top:1rem;
    color:#456c9a;
}

.box-2 {
    background-color: #456c9a;
    color:#fff;
}

.box-2 h2 {
    padding-top:1rem;
    color:#fff;
}

.inner-box {
    max-width:980px;
    margin:0 auto;
}

/*FOOTER CONTENT*/
footer {
    background-color:#456c9a;
    color:#fff;
    font-size: .8rem;
    text-align: center;
    padding:.2rem;
}










/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .box-main {
        grid-template-columns: 5fr 7fr 0;
        padding-top:1rem;
    }

    .item-2 {
        padding:1rem .5rem;
    }

    #photo {
        width:12rem;
    }

    .box {
        display:grid;
        grid-template-columns: 1fr;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* .box-main {
        grid-template-columns: 4fr 7fr 1fr;
        padding-top:1rem;
        background-color:red;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}